node_modules
server/permanent_storage
server/PyNutil
.env.production
client/.env.production
client/.env.local
client/src/generate_ng_neurons.py
server/.env
client/.env
.env
server/.env
server/__pycache__/app.cpython-311.pyc
